{% extends 'AidLedgerMainPage/baseTemplate.html' %}

{% block sidebar %}
<h2>Donator Dashboard</h2>
<h3>SCAN QR</h3>
<a href="" class="button"><i class="fa-solid fa-database"></i> Scan QR</a>
<h3>DONATION TRACKER </h3>
<a href="" class="button"><i class="fa-solid fa-file"></i> Donation Tracker</a>

    {% endblock %}



    {% block content %}

    <h1>SCAN QR CODE</h1>
    <div class="qrcodeSection">
        <h3 class="qrGen">QR CODE</h3>
        <button>SCAN QR</button>
    </div>

    <div class="inputFields">
        <form action="">
            <label for="rfgType">TYPE OF GOODS TO BE DONATED:</label>
            <input type="text" id="rfgType" name="rfgType"><br><br>
            <label for="rfgWeight">WEIGHT:</label>
            <input type="text" id="rfgWeight" name="rfgWeight"><br><br>
            <input type="submit" value="DELIVERED">
        </form>
    </div>

    


    {% endblock %}
