{% extends 'AidLedgerMainPage/baseTemplate.html' %} {% block sidebar %}
<h2>Donator Dashboard</h2>
<h3>SCAN QR</h3>
<a href="" class="button"><i class="fa-solid fa-database"></i> Scan QR</a>
<h3>DONATION TRACKER</h3>
<a href="" class="button"><i class="fa-solid fa-file"></i> Donation Tracker</a>

{% endblock %} {% block content %}

<div class="inputFields">
  <h1>SCAN QR CODE</h1>
  <form
    action="{% url 'handlerScanQR' %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <input type="file" name="qr_image" accept="image/*" />
    <input type="submit" value="Upload" />
  </form>
</div>
{% if qr_code_data %}
<div class="decoded-data">
  <p>Decoded QR Data: {{ qr_code_data }}</p>
</div>
{% endif %} {% endblock %}
