<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="/static/css/loginView.css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AidLedger - Login or Sign Up</title>
</head>
<body>
    <div class = "titleContainer">
        <h1>AidLedger</h1>
    </div>
    

    <div class = "buttonContainer">
        <button>Gov't/NGO</button>
        <button>Handler</button>
        <button>Recipient</button>
    </div>
    
</body>
</html>