<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{% static 'js/signUp.js' %}"></script>
    <title>Sign Up</title>
</head>
<body>
    <h1>Sign Up with MetaMask</h1>
    <form id="signup-form" method="POST" action="{% url 'signup' %}">
        {% csrf_token %}
        <input type="hidden" id="ethAddress" name="ethAddress" value="{{ ethAddress }}">
        
        <label for="userType">Select User Type:</label>
        <select id="userType" name="userType">
            <option value="NGO/GOVT">NGO/GOVT</option>
            <option value="HANDLER">HANDLER</option>
            <option value="RECIPIENT">RECIPIENT</option>
        </select>
        <br>

        <label for="accountName">Username:</label>
        <input type="text" id="accountName" name="accountName" required>
        <br>

        <button type="submit">Sign Up</button>
    </form>
</body>
</html>
